.mother{
    background: rgb(26,42,108);
    background: linear-gradient(97deg, rgba(26,42,108,1) 0%, rgba(178,31,31,1) 50%, rgba(253,187,45,1) 100%);
    width: 1000px;
    height: 1000px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    border-radius: 100px;
}
.child{
    background: rgb(51,51,51);
    background: linear-gradient(128deg, rgba(51,51,51,1) 0%, rgba(221,24,24,1) 100%);
    width: 100px;
    margin-left: 450px;
    border-radius: 1.5px;
    text-align: center;
}
}
 
#container {
            background:#99CC99;
            margin: 30px auto;
            width: 900px;
            height: 600px;
}
 
#header {
            background: #66CCCC;
            height: 100px;
            width: 900px;
}
 
#navigation {
            background: #FF9999;
            width: 900px;
            height: 20px;
}
 
#menu {
            background: #99CC99;
            float: left;
            width: 200px;
            height: 400px;
}
 
#content {
            background: #d2d0d2;
            float: left;
            width: 700px;
            height: 400px;
}
 
#clear {
            clear:both;
}
 
#footer {
            background: #0066FF;
            height: 80px;
            width: 900px;
}
body {
    background: #f3f2f3;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}